<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>
<% if logged_in? %> 
  <% if @user == current_user %>
    <%= link_to "Edit user", edit_user_path(@user) %>
  <% end %>
  <% if @user == current_user || current_user.admin? %>
    <%= link_to "Delete user", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<h3> articles</h3>
<%= render 'articles/article' %>